* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  color: #797979;
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 960px;
  margin-inline: auto;
}

.narandza {
  background-color: #f75311;
  color: white;
}

.siva {
  background-color: #374249;
  color: white;
}

header {
  color: white;
}
header nav {
  background-color: #374249;
}
header nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}
header nav ul li:first-child a {
  text-decoration: underline;
}
header nav ul li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 2rem 4rem;
}
@media (max-width: 1000px) {
  header nav ul li a {
    pointer-events: none;
  }
}
header nav ul li a:hover {
  text-decoration: underline;
}
header nav ul li:first-child {
  background-color: #f75311;
  padding-right: 15rem;
}
header nav ul li:first-child i {
  margin-right: 0.8rem;
}
header .section-hero {
  height: 50rem;
  background-image: url("../slike/intro.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}
header .section-hero .hero-text {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(73, 73, 73, 0.4);
}
header .section-hero .hero-text h1 {
  font-size: 4rem;
}
header .section-hero .hero-text p {
  font-size: 2rem;
}

main .section-buy .buy-btn {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 3rem;
  padding: 2rem;
}
main .section-buy .buy-btn a {
  border: 1px solid #797979;
  text-decoration: none;
  color: #797979;
  border-radius: 20px;
  padding: 1rem 2.4rem;
  transition: background-color 0.4s;
}
@media (max-width: 1000px) {
  main .section-buy .buy-btn a {
    pointer-events: none;
  }
}
main .section-buy .buy-btn a:hover {
  background-color: #cfd1d3;
  color: white;
}
main .section-rent {
  padding: 4rem;
  background-color: #f3f7f9;
}
main .section-rent .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  row-gap: 2rem;
  column-gap: 2rem;
}
@media (max-width: 1000px) {
  main .section-rent .grid {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
    row-gap: 3rem;
  }
}
main .section-rent .grid .grid-item {
  position: relative;
  width: 100%;
}
main .section-rent .grid .grid-item img {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}
main .section-rent .grid .grid-item .overlay {
  position: absolute;
  font-size: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  background-color: rgba(170, 170, 170, 0.6);
  color: black;
  opacity: 0;
}
@media (max-width: 1000px) {
  main .section-rent .grid .grid-item .overlay {
    pointer-events: none;
  }
}
main .section-rent .grid .grid-item .overlay:hover {
  opacity: 1;
}
main .section-pricing {
  padding: 3rem;
}
main .section-pricing .pricing-text {
  text-align: center;
}
main .section-pricing .pricing-text h2 {
  color: black;
  margin-bottom: 2rem;
}
main .section-pricing table {
  margin-inline: auto;
  margin-top: 2rem;
  text-align: center;
  border-collapse: separate;
}
main .section-pricing table td,
main .section-pricing table th {
  border: 1px solid black;
  padding: 1rem 4rem;
}
main .section-pricing table .empty {
  empty-cells: hide;
}
main .section-contact {
  padding: 4rem;
  background-color: #f3f7f9;
}
main .section-contact h2 {
  margin-bottom: 2rem;
  text-align: center;
  text-transform: uppercase;
  color: #374249;
}
main .section-contact .flex {
  display: flex;
  gap: 3rem;
  align-items: center;
}
@media (max-width: 1000px) {
  main .section-contact .flex {
    flex-direction: column;
  }
}
main .section-contact .flex iframe {
  width: 35rem;
  height: 35rem;
}
main .section-contact .flex form {
  padding: 3rem;
  background-color: #f75311;
  width: 95%;
}
@media (max-width: 1000px) {
  main .section-contact .flex form {
    width: 80%;
  }
}
main .section-contact .flex form .block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
  row-gap: 2rem;
  align-items: center;
  width: 100%;
}
main .section-contact .flex form .block input,
main .section-contact .flex form .block select,
main .section-contact .flex form .block textarea {
  padding: 0.7rem;
}
main .section-contact .flex form .block input,
main .section-contact .flex form .block select {
  height: 4rem;
}
main .section-contact .flex form .block:first-child select {
  width: 40%;
}
main .section-contact .flex form .block:first-child input {
  width: 100%;
}
main .section-contact .flex form .block textarea,
main .section-contact .flex form .block input[type=email] {
  grid-column: 1/4;
  margin-top: 2rem;
}
main .section-contact .flex form .block textarea {
  height: 8rem;
}

footer {
  background-color: #374249;
  text-align: center;
  color: white;
  padding: 1rem;
}
footer span {
  color: #f75311;
}

/*# sourceMappingURL=style.css.map */
